part2/phonebook/.vs/slnx.sqlite
part2/phonebook/.vs/VSWorkspaceState.json
part2/phonebook/.vs/phonebook/FileContentIndex/63823360-f906-4f7e-8d35-db7bdefbda56.vsidx
part2/phonebook/.vs/phonebook/FileContentIndex/read.lock
part2/phonebook/.vs/phonebook/v17/.wsuo
